<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="isShow">蜡笔小新</p>
        <h2 v-if="temperature>=35">热死了</h2>
        <!-- 频繁的切换使用v-show, 反之 使用v-if -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                isShow: false,
                temperature: 38
            },
            methods: {
                toggleIsShow: function() {
                    this.isShow = !this.isShow;
                }
            }
        })
    </script>
</body>
</html>