.main-wrapper {
    padding: 15px;
    display: flex;
    .planet-wrapper {
        box-sizing: border-box;
        width: 2rem;
        height: 3.066667rem;
        background-color: lightpink;
        margin: 0 0.15rem;
        border-radius: 5px;
    }
    .add-planet-wrapper {
        box-sizing: border-box;
        width: 2rem;
        height: 3.066667rem;
        margin: 0 0.15rem;
        border: dotted rgb(130, 130, 130);
        border-radius: 5px;
        color: rgb(130, 130, 130);
        font-weight: 100;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .add-planet {
            .add1 {
                margin-top: 50%;
                font-size: 0.5rem;
            }
            .create-planet {
                font-size: .24rem;
            }
        }
        
    }
}